<%- include('header') -%>
<!-- a container from bootstrap from mid width -->
<div class="container-md">
  <!--Navigation bar-->
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <!-- Title of application displayed on navbar -->
      <a class="navbar-brand" href="<%= CURRENTWX %>"><h2>Weather Wizard</h2></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="<%= CURRENTWX %>">Current Weather</a>
          <a class="nav-link" href="<%= FIVEDAYWX %>">5-Day Weather</a>
          <a class="nav-link" href="<%= OBS %>">Observations</a>
          <a class="nav-link active" aria-current="page" href="<%= REQUEST %>">Requests</a>
          <a class="nav-link" href="<%= PROFILE %>">Profile</a>
        </div> <!-- End of navbar-nav div -->
      </div> <!-- End of collapse navbar-collapse div -->
    </div> <!-- End of container-fluid div -->
  </nav> <!-- End of navigation bar div -->
  
<h1>Personalized Weather Request</h1>
<%- include('footer') -%>
